<% layout('layout') -%>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="header"></div>
                <ul class="nav">
                    <li class="add-menu"><a href="#wines/add"><i class="icon-edit icon-white"></i> Add Wine</a></li>
                </ul>
<div class="container">
    <div class="row">
        <div id="content" class="span12>"></div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>

<!-- NOTE: memorystore.js will set up an in-memory datastore to allow you to experience the app without setting up
back-end infrastructure. All the changes you make to the data will be lost the next time you access the app or hit Refresh.
To use the app with a persistent RESTful back-end (provided in the GitHub repo), simply comment out the line below. -->
<script src="js/memorystore.js"></script>

<script src="js/utils.js"></script>
<script src="js/models/models.js"></script>
<script src="js/views/paginator.js"></script>
<script src="js/views/header.js"></script>
<script src="js/views/winelist.js"></script>
<script src="js/views/winedetails.js"></script>
<script src="js/views/about.js"></script>
<script src="js/main.js"></script>