<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
  -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/lib/bootstrap/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/lib/bootstrap/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/lib/bootstrap/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/lib/bootstrap/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/lib/bootstrap/img/apple-touch-icon-57-precomposed.png">

    <script>
      function onLogin () {
        $('#loginForm').submit();
        // if failed, show alert with alert-error and message
        $('#alert').show();
        $('#loginDialog').modal('hide'); 
      };
    </script>
  </head>

  <body class="">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">node-rest-backbone</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="navbar-form pull-right">
              <% if (user) { %>
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i><%= user.displayName %><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#logout">Logout</a></li>
                  </ul>
                </div>
              <% } else { %>
                <a href="/login" class="btn">Login</a>
                <a href="/auth/github" class="btn">Sign In</a>
              <% } %>
            </div><!--/.navbar-form -->
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div><!--/.navbar-inner -->
    </div><!--/.navbar -->

    <div class="container">
      <%- body %>
    </div> <!-- /container -->

    <div class="container">
      <hr>

      <footer>
        <p>© The Hackerati, Inc. 2012</p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script> 

  </body>
</html>