<% layout('layout') -%>

<div class="row">
  <div class="span12">
    <div id="alert" class="hide">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    &nbsp;
  </div>
  <div class="span4">
    <div class="row">
      <% if (config.hasOwnProperty('google')) { %>
        <h2><a href="/auth/google">Login with Google</a></h2>
      <% } %>
    </div>
    <div class="row">
      <% if (config.hasOwnProperty('github')) { %>
        <h2><a href="/auth/github">Login with Github</a></h2>
      <% } %>
    </div>
    <div class="row">
      <% if (config.hasOwnProperty('twitter')) { %>
        <h2><a href="/auth/twitter">Login with Twitter</a></h2>
      <% } %>
    </div>
    <div class="row">
      <form method="post" action="/signup">
        <legend>Login</legend>

        <input type="text" id="idEmail" name="email" placeholder="Email">

        <input type="password" id="idPassword" name="password" placeholder="Password">

        <label class="checkbox">
          <input type="checkbox" id="idRememberMe" name="remember" > Remember me
        </label>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="row">
      <a href="#signUpDialog">Forgot password?</a> <a href="/signup">Sign Up</a>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
</div>