<% layout('layout') -%>

<div class="row">
  <div class="span12">
    <div id="alert" class="hide">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 </div>
  <div class="span6">
    <div class="row">
      <h2>Sign In</h2>
    </div>
    <div class="row">
      <form id="loginForm" class="form-horizontal" method="post" action="/login">
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox"> Stay signed in
            </label>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <a href="#signUpDialog">Forgot password?</a> <a href="#signUpDialog">Sign Up</a>
    </div>
  </div>
</div>