<% layout('layout') -%>

<div class="container">
  <div id="alert" class="hide">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
  </div>
</div>

<div class="row">
  <div class="span4">
    &nbsp;
  </div>
  <div class="span4">
    <div class="row">
      <% if (config.hasOwnProperty('google')) { %>
        <h2><a href="/auth/google">Signup with Google</a></h2>
      <% } %>
    </div>
    <div class="row">
      <% if (config.hasOwnProperty('github')) { %>
        <h2><a href="/auth/github">Signup with Github</a></h2>
      <% } %>
    </div>
    <div class="row">
      <% if (config.hasOwnProperty('twitter')) { %>
        <h2><a href="/auth/twitter">Signup with Twitter</a></h2>
      <% } %>
    </div>
    <div class="row">
      <form method="post" action="/signup">
        <legend>Sign Up</legend>

        <input type="text" id="idFirstName" name="first" placeholder="First Name">

        <input type="text" id="idLastName" name="last" placeholder="Last Name">

        <input type="text" id="idEmail" name="email" placeholder="Email">

        <input type="password" id="idPassword" name="password" placeholder="Password">

        <label class="checkbox">
          <input type="checkbox" id="idRememberMe" name="remember" > Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
    <div class="row">
      Already have an account? <a href="/login">Sign In</a>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
</div>